
@model  IEnumerable<FirstWebASPNETMVCApplication.Models.Book>
@{
    ViewBag.Title = "ListBooks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.TitlePageName</h2>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class=" panel panel-default">
                    <div class="panel panel-heading">@item.Title</div>
                    <div class="panel-body">
                        <p>
                            <strong>Author: </strong>@item.Author
                        </p>
                        <p>
                            <strong>PublicYear: </strong>@item.PublicYear
                        </p>
                        <p>
                            <strong>Price: </strong>@item.Price
                        </p>
                        <p>
                            <img src="/@item.Cover " alt="hinh thumnail"
                        </p>
                    </div>
                    <div class="panel-footer clearfix">
                        <div class="pull-right">
                            <a href="#" class="btn btn-primary">Orther</a>
                            <a href="#" class="btn btn-default">Read more...</a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            }
        </div>